<div class="card">
  <div class="card-header">
    <!-- Interpolation one way binding of Component property -->
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        Filter by:
      </div>
      <div class="col-md-4">
        <!-- Two-Way Binding using Banana Brackets and listFilter property in Component Class-->
        <input type="text"
          [(ngModel)]='listFilter'/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>
          <!-- Interpolation one way binding on listFilter property -->
          Filtered by: {{listFilter}}
        </h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table"
        *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <!-- Event Binding DOM event bound to Component Class function -->
              <button class="btn btn-primary"
                (click)='toggleImage()' >
                <!-- Interpolation on Component class property -->
                {{ showImage ? 'Hide Images' : 'Show Images' }}
              </button>
            </th>
            <th>
              Product
            </th>
            <th>
              Code
            </th>
            <th>
              Available
            </th>
            <th>
              Price
            </th>
            <th>
              5 Star Rating
            </th>
          </tr>
        </thead>
        <tbody>

          <!-- Dynamic content here -->
          <tr *ngFor="let product of products">
            <td>
              <img *ngIf='showImage'
                   [src]='product.imageUrl'
                   [title]='product.productName'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'/>
            </td>
            <td>{{ product.productName }}</td>
            <!-- Data-Binding Pipe to format output -->
            <td>{{ product.productCode | lowercase }}</td>
            <td>{{ product.productDate }}</td>
            <!-- Data-Binding Pipe with params to format output -->
            <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
            <td>{{ product.starRating }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
