<div class="card">
  <div class="card-header">
    <!-- Interpolation one way binding of Component property -->
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        Filter by:
      </div>
      <div class="col-md-4">
        <!-- Two-Way Binding using Banana Brackets and listFilter property in Component Class-->
        <input type="text"
          [(ngModel)]='listFilter'/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>
          <!-- Interpolation one way binding on listFilter property -->
          Filtered by: {{listFilter}}
        </h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table"
        *ngIf="products && products.length">
        <thead>
          <tr>
            <th>
              <!-- Event Binding DOM event bound to Component Class function -->
              <button class="btn btn-primary"
                (click)='toggleImage()' >
                <!-- Interpolation on Component class property -->
                {{ showImage ? 'Hide Images' : 'Show Images' }}
              </button>
            </th>
            <th>
              Product
            </th>
            <th>
              Code
            </th>
            <th>
              Available
            </th>
            <th>
              Price
            </th>
            <th>
              5 Star Rating
            </th>
          </tr>
        </thead>
        <tbody>

          <!-- Dynamic content here -->
          <tr *ngFor="let product of filteredProducts">
            <td>
              <img *ngIf='showImage'
                   [src]='product.imageUrl'
                   [title]='product.productName'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'/>
            </td>
            <td>
              <a [routerLink]="['/products', product.productId]">
                {{ product.productName }}
              </a>
            </td>
            <!-- Data-Binding Pipe to format output -->
            <td>{{ product.productCode | lowercase | convertToSpaces: '-' }}</td>
            <td>{{ product.releaseDate }}</td>
            <!-- Data-Binding Pipe with params to format output -->
            <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
            <td>
              <!-- {{ product.starRating }} -->
              <!-- Nested comp prop rating must use @Input decorator to receive binding from
                    this outer container comp
                  Using the Nested Comp as Directive via its selector
                  The only time we can speficiy a nested comp prop as a
                    prop binding target on the left side of an equeals is
                    when that property is decorated with the @Input directive in the nested component
                  Anytime the container data changes, the ngOnChanges
                    lifecycle event is generated in Inner Comp and the star width is recalcuated
              -->
              <!-- We listen for the raised event issued from the star
                    component (ratingClicked)
                  We'll define an event in the prod list comp to process that event
                    ie. onRatingClicked
              -->
              <pm-star [rating]='product.starRating'
                (ratingClicked)='onRatingClicked($event)'></pm-star>
                <!-- ratingClicked is defined in nested comp as EventEmitter<string>
                    Event binding to respond and pass $event payload to nested component,
                     Nested comp must expose EventEmitter via @Output
                     Directive
                -->
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
